
.background {
    background-color: beige;
}




.circle {
    
    height: 400px;
    width: 400px;
    background-color: #BBDEFB;
    margin: 100px;
    border-radius: 50% / 100%  100% 0 0 ; 
    animation: .5s viral infinite alternate; 
}

@keyframes viral {
    to {
        border-radius: 50%; bottom: 100%;
    }
}